.category {
  text-align: left;

  & h3 {
    font-size: large;
    font-weight: bolder;
    margin-top: 1.5em;
  }

  & input {
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.category_list {
  & div {
    display: flex;
    gap: 0.3em;
    font-size: 1.1em;
  }
}
